html
  head
    title Выпускной альбом ШРИ-2013
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
  body
    nav
      ul.main_navigation
        li
          a href="#school" О школе
        li
          a href="#students" Студенты
        li
          a href="#lections" Лекции
    #school.block
      h1 О школе
    #students.block
      h1 Студенты
    #lections.block
      h1 Лекции
    link type="text/css" rel="stylesheet" href="css/index.css" 
    script type="text/javascript" src="js/jquery.js"
    script type="text/javascript" src="js/underscore.js"
    script type="text/javascript" src="js/backbone.js"
    script type="text/javascript" src="js/handlebars.js"